@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: var(--fundo);
}



:root {
    --fundo: white;
    --fundo2: #f3f4f6;
    --titulo: #e63946;
    --subtitulo: #1d3557;
    --link: #457b9d;
    --button: #a8dadc;
}

.titulo {
    color: var(--titulo);
}

.subtitulo {
    color: var(--subtitulo);
}

.link {
    color: var(--link);
}

.link:hover {
    border-bottom: 1px solid var(--titulo);
}

.button {
    background-color: var(--button);
    border: 1px solid black;
}

.button:hover {
    cursor: pointer;
}

.logo-horizontal {
    height: 150px;
    width: 150px;
}

.logo-vertical {
    height: 75px;
    width: 75px;
}




.container {
    padding: 1rem;
}

.menu {
    display: flex;
    margin: 10px;
    align-items: center;
}

.logo-nav {
    margin-right: auto;
}


.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
}

.banner {
    background-image: url(/img/bannertest.jpg);
    background-size: cover;
    padding: 200px;
}

.main {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    align-items: center;
}

.main-titulo {
    margin-bottom: 50px;
    font-size: 50px;
}

.ofertas {
    display: flex;
}

.ofertas-itens {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas-itens img {
    height: 250px;
    width: 200px;
}

.ofertas-itens h2, h1{
    margin: 20px 0;
}

.form {
    padding: 100px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo2);
}

.form label {
    font-size: 50px;
    font-weight: 600;
}

.form input {
    margin: 10px 0 15px;
}

.form button {
    padding: 5px 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-info a {
    text-decoration: none;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu a {
    text-decoration: none;
}